@import './variables.scss';

.container {
  background-color: getColor('platinum');
  min-height: 100vh;
}

.header {
  background-color: getColor('primary');
  color: getColor('white');

  h2 {
    margin: 0;
    padding: 1rem;
  }
}

.main {
  .resume {
    h1, p {
      margin: .5rem 0;
    }
  }

  .register {
    h3 {
      margin: 0 0 .5rem 0;
    }
  }
}

.footer {
  background-color: getColor('dark');
  bottom: 0;
  color: getColor('white');
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;

  a {
    color: getColor('white');
  }
}
